body {
    background-image: url("./images/pattern-background-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.mainDiv {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    width: 450px;
    background-color: white;
    border-radius: 20px;
}

.headerpic {
    border-radius: 20px 20px 0px 0px;
}

.subDiv {
    padding: 50px;
    text-align: center;
}

.orderOptions {
    width: 100%;
}

.planInfo {
    display: flex;
}

.planCost {
    display:flex;
}

.processButtons {
    display: flex;
    flex-flow: column;
}